
<h2>@ViewBag.Title</h2>
<h1>Contactos</h1>

<address>
    Universidad Central<br />
    Dirección: Cra. 5 ## 21-38, Bogotá<br />
    Telefono: 311 *********
</address>

<address>
    <strong>Soporte:</strong>   <a href="https://www.linkedin.com/in/david-santiago-vera-vargas-31625b211/dverav1@ucentral.edu.co">dverav1@ucentral.edu.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>