@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">
        La banca virtual se ha convertido en un elemento primordial y de gran ayuda, ya que
        este, nos permite realizar diferentes actividades financieras, ahorrando tiempo de espera
        y principalmente previniendo el contagio del COVID-19, siendo esta pandemia un motivo
        de cambio en actividades cotidianas, por lo tanto, la banca virtual se ha encargado de
        satisfacer tal necesidad, previniendo aglomeraciones en lugares cerrados también que
        las personas o usuarios se acojan a los horarios de atención impuestos tanto por los
        bancos, como por el gobierno en cuanto a las medidas sanitarias.
    </p>
    <p><a href="~/home/contact" class="btn btn-primary btn-lg">Contactenos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>
            ofrece una gran cantidad de servicios informativos administrativos, transaccionales, y pagos de servicios públicos como la luz, gas natural, agua, y de comunicación.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ventajas</h2>
        <p>
            Tienen muchas ventajas comparándolo con los bancos tradicionales. Incluyendo una mejor comunicación, mayor disponibilidad, mejores servicios, y en la actualidad la prevención contra enfermedades como el COVID-19.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desventajas</h2>
        <p>Aunque tenga muchas ventajas la banca virtual también tiene algunas desventajas como la falta de interacción personal, problemas con los depósitos de dinero a la cuenta, posible riesgo de robo de información, y una de las mas grandes afectaciones son los fallos en el sistema. </p>
    </div>
</div>